{% extends "layout.html" %}

{% block content %}
<div class="grid h-[86vh] px-4 bg-white place-content-center dark:bg-gray-900">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-9xl dark:text-gray-700">404</h1>
    <p
      class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
      ¡Oh-no!
    </p>
    <p class="mt-4 text-gray-500 dark:text-gray-400">
      La página que intentas acceder no está disponible
    </p>
    <a href="{{ url_for('public.index') }}"
      class="inline-block px-5 py-3 mt-6 text-sm font-medium text-white bg-blue-700 rounded hover:bg-indigo-800 focus:outline-none focus:ring">
      Regresar al inicio
    </a>
  </div>
</div>
{% endblock content %}